body {
    background-color:antiquewhite;
}


h1 {
    color: goldenrod;
    text-align: center;
}
h2 {
    color: salmon;
    text-align: center;
}

dl {
    border: 4px solid gold;
    padding: 1em;
}

dd {
    background-color: cyan;
}
dt {
    color: blue;
    font-size: 20px;
}

button {
    width: 20%;
    height: 4em;
    margin-right: 100em;
}
#posts {
    background-color: antiquewhite;
}
